.env
venv/*
*.csv
*.xlsx
**/__pycache__
**egg-info
*.DS_Store
*ipynb_checkpoints
*.vscode
.github/instructions/
.idea/
Davis_atamis_test.xlsx
nhs_data_evaluation.py
tenders_experiment.ipynb

# DVC
/data/results/*.csv
/data/results/*.json
/data/results/optimization_complete.txt
/data/results/optimization_surface.png
/new_AI_results_for_Jasmine_train.tsv
/new_AI_results_for_Jasmine_test.tsv
/semantic_anchors2.json