# Base Tools (Add these!)
pip
pip-tools

# Core Framework
langchain
langchain-core
langchain-community
langchain-openai
pydantic-ai-slim[openai,google,groq]==1.59.0

# Environment & Data
python-dotenv
pandas
openpyxl
matplotlib

# API & Server
fastapi
uvicorn
git+https://github.com/DavisAgyemang/ccss_web_api_tool.git

# Azure Integration
azureml-mlflow
azure-ai-ml
azure-identity
azure-search-documents

# Development & Testing
pytest
ruff
pre-commit